<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Insert Title Here</title>
    <link rel="shortcut icon" href="/img/siteicon.png" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <% if(typeof css != "undefined"){ %>
        <% css.forEach(item => {%>
            <link rel="stylesheet" type="text/css" href="<%= `/css/${item}.css` %>">
        <%})%>
    <%}%>
</head>
<body>    
    <%- include("../partials/utils") %>
    <%- include("../partials/header") %>
    <% if(message.error){ %>
        <% message.error.forEach(item=>{%>
            <p class="error infoMessage"><%= item %></p>
        <%})%>
    <%}%>
    <% if(message.info){ %>
        <% message.info.forEach(item=>{%>
            <p class="infoMessage"><%= item %></p>
        <%})%>
    <%}%>
    <main>
        <%- body %>
    </main>
    <%- include("../partials/footer") %>

    <script src="/js/public.js"></script>
</body>
</html>