<h1>Modules included in the project</h1>
<%- include("./partials/modules/clientmessages.ejs") %>
<%- include("./partials/modules/waiter.ejs") %>
<%- include("./partials/modules/switches.ejs") %>
<%- include("./partials/modules/popups.ejs") %>
<%- include("./partials/modules/searchbar.ejs") %>
<%- include("./partials/modules/numberinput.ejs") %>
<%- include("./partials/modules/htmlelements.ejs") %>
<%- include("./partials/modules/fetchrequests.ejs") %>
<%- include("./partials/modules/devicedetection.ejs") %>
<%- include("./partials/modules/lazyloading.ejs") %>

<aside class="col" id="sidebar">
    <button class="tertiaryButton" id="hideSidebar">Hide</button>
</aside>
<button id="sidebarButton">Module List</button>

<script src="/js/modules.js" type="module"></script>